<div id="<%= dom_id album %>">
  <p>
    <strong>Title:</strong>
    <%= album.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= album.desc %>
  </p>

  <p>
    <strong>Src:</strong>
    <%= album.src %>
  </p>

  <p>
    <strong>Is private:</strong>
    <%= album.is_private %>
  </p>

  <p>
    <strong>User:</strong>
    <%= album.user_id %>
  </p>

</div>
