<div id="<%= dom_id photo %>">
  <p>
    <strong>Title:</strong>
    <%= photo.title %>
  </p>

  <p>
    <strong>Desc:</strong>
    <%= photo.desc %>
  </p>

  <p>
    <strong>Src:</strong>
    <%= photo.src %>
  </p>

  <p>
    <strong>Is private:</strong>
    <%= photo.is_private %>
  </p>

  <p>
    <strong>Album:</strong>
    <%= photo.album_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

</div>
