<% if current_user != nil %>    
    <% if current_user.is_admin == true %>    
        <div class="row" style="background: #F8F8F8;">
            <div class="col-2 min-vh-100" style="padding-right: 0% !important;">
                <div class="d-flex justify-content-center" id="menu">
                    <div class="nav flex-column align-items-start nav-pills me-0 mt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <%= button_to "Manage Photos", admin_photos_path , method: :get , class: 'nav-link active', id: 'v-pills-home-tab'%>
                        <%= button_to "Manage Albums", admin_albums_path , method: :get , class: 'nav-link', id: 'v-pills-profile-tab'%>
                        <%= button_to "Manage Users", admin_users_path , method: :get , class: 'nav-link', id: 'v-pills-messages-tab'%>
                    </div>
                </div>
            </div>

            <div class="tab-content col-8 bg-white mt-3 mb-5">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                    <div class="row">
                        <% @photos.each do |photo|%>
                            <div class="col-3">
                                <%= image_tag photo.src %>
                                <div class="title-container">
                                    <%= link_to "Edit photo", edit_admin_photo_path(photo) , method: :get %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div id="pagination">
                        <%= paginate @photos%>
                    </div>
                </div>
            </div>
            <div class="col-2">

            </div>
        </div>
    <% else %>
        <h1>You have no rights to access this page</h1>
    <% end %>
<% else %>
    <script>
        window.location.href = "/"
    </script>
<% end %>
