<div id="feed" class="container">
    <ul class="nav nav-pills mt-3 justify-content-center" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">PHOTO</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">ALBUM</button>
        </li>
        </ul>
        <div class="tab-content p-2" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
            <div class="row">
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "1.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "2.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "3.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "4.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "5.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 my-2">
                    <div id="card" class="row">
                        <div id="photo-container" class="col-6">
                            <%= image_tag "6.png" %>
                        </div>
                        <div id="profile" class="col-6">
                            <h2 id="name"><span id="avatar">HN</span> Hieu Nguyen</h2>
                            <h6>Nam tempor posuere faucibus</h6>
                            <p class="card-text">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga ipsam pariatur velit provident! Sapiente, aspernatur dignissimos! At, neque voluptatibus animi dolores dolor perspiciatis doloremque sapiente quasi unde atque ratione nihil.
                            </p>
                            <div class="card-footer">
                                <div class="row">
                                    <div class="col-1"><i style="font-size: 20px;" class="fa-solid fa-heart"></i></div>
                                    <div class="col-2"><p id="heart-number">430</p></div>
                                    <div class="col-9"><p id="date-time">4:56 pm 01/04/2018</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">...</div>
        </div>
        <div class="container text-center">
        <i style="font-size: 50px;" class="fa-solid fa-spinner"></i>
        </div>
</div>