<%= form_with(model: photo) do |form| %>
  <% if photo.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-6">
      <div>
        <%= form.label :title, style: "display: block" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>
      <div>
        <%= form.label :is_private, style: "display: block" %>
        <%= form.check_box :is_private %>
      </div>
      <div class="row">
        <div class="col-12">
          <%= image_tag photo.src %>
        </div>
        <div class="col-3 text-center m-3">
          <div>
            <%= button_to "Save", @photo, method: :get, class: "btn btn-success"%>
          </div>
        </div>
        <div class="col-3 text-center mx-2 my-3">
          <div>
            <%= button_to "Delete", @photo, method: :delete, class: "btn btn-danger" %>
          </div>
        </div>
      </div>
    </div>
    <div class ="col-6">
      <div style="word-wrap: break-word;">
        <%= form.label "Description", style: "display: block" %>
        <%= form.text_field :desc, style: 'height: 80px;', class: "form-control" %>
      </div>
    </div>  
  </div>
  <p style="color: green"> <%= notice %></p>
<% end %>

