<div id="<%= dom_id user %>">
  <p>
    <strong>Name:</strong>
    <%= user.first_name %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.last_name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= user.password %>
  </p>

  <p>
    <strong>Is admin:</strong>
    <%= user.is_admin %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= user.is_active %>
  </p>

</div>
